<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_select(:customer_id, Customer.customers_with_projects, :id, :name, {selected: task.customer.id} ) %>
  </div>

  <div id="customer-projects" class="field">
    <%= form.label :project_id %>
    <%= form.collection_select(:project_id, @task&.customer&.projects || [], :id, :name) %>
    
    <ul class="task-project-dropdown">
      <% @task&.customer&.projects.each do |p| %>  
        <li id="task_project_dropdown_<%= p.id %>" class="task-project-dropdown__description <%= @task.project == p ? '' : 'hidden' %>"><%= p.description %></li>
      <% end %>
    </ul>
  </div>

  <div class="field">
    <%= form.label :task_type_id %>
    <%= form.collection_select(:task_type_id, policy_scope(TaskType), :id, :name, prompt: true) %>

    <ul class="task-task-type-dropdown">
      <% policy_scope(TaskType).each do |tt| %>  
        <li id="task_task_type_dropdown_<%= tt.id %>" class="task-task-type-dropdown__description hidden"><%= tt.description %></li>
      <% end %>
    </ul>
  </div>

  <div class="field">
    <%= form.label :task_date %>
    <%= form.date_field :task_date %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, within: 1..24, class: 'tasks__duration-input' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'large-input' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
