<p id="notice"><%= notice %></p>

<h1>Tasks 
  <%= render_week_picker(@selected_week, @min_week) %>
</h1>

<table class="tasks__table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Duration</th>
      <th>Customer</th>
      <th>Code</th>
      <th>Project</th>
      <th>Task type</th>
      <th>Description</th>
      <th class="col-actions"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.group_by(&:task_date).each do |date, tasks| %>
      <tr class="section">
        <td rowspan="<%= tasks.count + 1 %>"><%= tasks.first.task_date %></td>
        <td><%= tasks.sum(&:duration) %>h</td>
        <td colspan="7"></td>
      </tr>
      <% tasks.each do |task| %>
      <tr>
        <td><%= task.duration %>h</td>
        <td><%= task.customer.name %></td>
        <td><%= task.project.code %></td>
        <td title="<%= task.project.name %>"><%= task.project.name %></td>
        <td title="<%= task.task_type.name %>"><%= task.task_type.name %></td>
        <td title="<%= task.description %>"><%= truncate(task.description) %></td>
        <td class="col-actions">
          <%= link_to 'Show', task %>
          <%= link_to 'Edit', edit_task_path(task) %>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    <% end %>

    <tr class="section">
      <td>Total</td>
      <td><%= @tasks.sum(&:duration) %>h</td>
      <td colspan="7"></td>
    </tr>
  </tbody>
</table>

<div class="page-actions">
  <% if @tasks.empty? || policy(@tasks.first).new? %>
    <%= link_to 'New Task', new_task_path %>
  <% end %>

  <% task_report = @current_user.task_reports.where('task_reports.from <= ? AND task_reports.to >= ?', @selected_week, @selected_week).first %>
  <% if task_report&.persisted? && policy(task_report).edit? %>  
    | <%= link_to 'Edit Task Report', edit_task_report_path(task_report) %>
  <% else %>
    | <%= link_to 'New Task Report', new_task_reports_by_week_path(@selected_week) %>
  <% end %>

</div>