<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table class="tasks__table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Duration</th>
      <th>Customer</th>
      <th>Code</th>
      <th>Project</th>
      <th>Subject</th>
      <th>Task type</th>
      <th>Description</th>
      <th class="col-actions"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.group_by(&:task_date).each do |date, tasks| %>
      <tr class="section">
        <td rowspan="<%= tasks.count + 1 %>"><%= tasks.first.task_date %></td>
        <td><%= tasks.sum(&:duration) %></td>
        <td colspan="7"></td>
      </tr>
      <% tasks.each do |task| %>
      <tr>
        <td><%= task.duration %></td>
        <td><%= task.customer.name %></td>
        <td><%= task.project.code %></td>
        <td><%= task.project.name %></td>
        <td><%= task&.subject&.name %></td>
        <td><%= task.task_type.name %></td>
        <td><%= task.description %></td>
        <td class="col-actions">
          <%= link_to 'Show', task %>
          <%= link_to 'Edit', edit_task_path(task) %>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
    </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
