<p id="notice"><%= notice %></p>

<h1>View Task</h1>

<p>
  <strong>Date:</strong>
  <%= @task.task_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @task.duration %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @task.customer.name %>
</p>

<p>
  <strong>Project's Code:</strong>
  <%= @task.project.code %>
</p>

<p>
  <strong>Project's Name:</strong>
  <%= @task.project.name %>
</p>

<p>
  <strong>Task Type:</strong>
  <%= @task.task_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<div class="page-actions">
  <% if policy(@task).edit? %>  
    <%= link_to 'Edit', edit_task_path(@task) %> |
  <% end %>
  <%= link_to 'Back', tasks_by_week_path(@task.task_date.year, @task.task_date.cweek) %>
</div>