<p id="notice"><%= notice %></p>

<h1>View Project</h1>

<p>
  <strong>Customer:</strong>
  <%= @project.customer.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @project.code %>
</p>

<p>
  <strong>Active from:</strong>
  <%= @project.active_from %>
</p>

<p>
  <strong>Active until:</strong>
  <%= @project.active_until %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<div class="page-actions">
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</div>