<p id="notice"><%= notice %></p>

<h1>Subjects</h1>

<table class="subjects__table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Project</th>
      <th>Subject</th>
      <th class="cool-actions"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.customer.name %></td>
        <td><%= subject.project.name %></td>
        <td><%= subject.name %></td>
        <td class="cool-actions">
          <%= link_to 'Show', subject %>
          <%= link_to 'Edit', edit_subject_path(subject) %>
          <%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
