<%= form_with(model: task_report, local: true) do |form| %>
  <% if task_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_report.errors.count, "error") %> prohibited this task report from being saved:</h2>

      <ul>
        <% task_report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :from %>
  <%= form.hidden_field :to %>
  
  <div class="field">
    <%= form.label "O que acrescentei eu de valor ao produto(s)/equipa face à semana anterior?" %>
    <%= form.text_area :summary, rows: 8, class: 'large-input' %>
  </div>

  <div class="field">
    <%= form.label "O que prevejo fazer na próxima semana?" %>
    <%= form.text_area :upcoming, rows: 8, class: 'large-input' %>
  </div>

  <div class="field">
    <%= form.label "Que dependências/bloqueios me impediram/impedem de realizar as minhas tarefas?" %>
    <%= form.text_area :obstacles, rows: 4, class: 'large-input' %>
  </div>

  <div class="field">
    <%= form.label "Tenho a registar algum atraso face ao planeado?" %>
    <%= form.text_area :delays, rows: 4, class: 'large-input' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

