<p id="notice"><%= notice %></p>

<h1>My reports</h1>

<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @task_reports.each do |task_report| %>
      <tr>
        <td><%= task_report.title %></td>
        <td><%= task_report.from %></td>
        <td><%= task_report.to %></td>
        <td><%= task_report.status %></td>
        <td><%= link_to 'Show', task_report %></td>
      </tr>
    <% end %>
  </tbody>
</table>

