<p id="notice"><%= notice %></p>

<h1><%= @task_report.title %> Task Report</h1>

<%= render 'tasks_summary', tasks: @task_report.tasks %>

<div class="report-question">  
    <h2>O que acrescentei eu de valor ao produto(s)/equipa face à semana anterior?</h2>
    <p><%= @task_report.summary %></p>
</div>  

<div class="report-question">  
    <h2>O que prevejo fazer na próxima semana?</h2>
    <p><%= @task_report.upcoming %></p>
</div>  

<% unless @task_report.obstacles.empty? %>
<div class="report-question">  
    <h2>Que dependências/bloqueios me impediram/impedem de realizar as minhas tarefas?</h2>
    <p><%= @task_report.obstacles %></p>
</div>  
<% end %>

<% unless @task_report.delays.empty? %>
<div class="report-question">  
    <h2>Tenho a registar algum atraso face ao planeado?</h2>
    <p><%= @task_report.delays %></p>
</div>  
<% end %>


<div class="page-actions">
    <% if policy(@task_report).edit? %>
        <%= link_to 'Edit', edit_task_report_path(@task_report) %> |
    <% end %>

    <% if policy(@task_report).destroy? %>
        <%= link_to 'Destroy', @task_report, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>

    <% if policy(@task_report).edit? %>
        <%= link_to 'New Task', new_task_path %> |
    <% end %>

    <% if policy(@task_report).submit? %>
        <%= link_to 'Submit', submit_task_report_path(@task_report), method: :patch %> |
    <% end %>

    <% if policy(@task_report).approve? %>
        <%= link_to 'Approve', approve_task_report_path(@task_report), method: :patch %> |
        <%= link_to 'Reject', reject_task_report_path(@task_report), method: :patch %> |
    <% end %>

    <% if @task_report.user == @current_user %>
        <%= link_to 'Back', task_reports_path %>
    <% else %>
        <%= link_to 'Back', task_reports_approvals_path %>
    <% end %>
</div>
