<p id="notice"><%= notice %></p>

<h1><%= @task_report.title %> Task Report</h1>

  
<p>O que acrescentei eu de valor ao produto(s)/equipa face à semana anterior?</p>
<p><%= @task_report.summary %></p>

<p>O que prevejo fazer na próxima semana?</p>
<p><%= @task_report.upcoming %></p>

<p>Que dependências/bloqueios me impediram/impedem de realizar as minhas tarefas?</p>
<p><%= @task_report.obstacles %></p>

<p>Tenho a registar algum atraso face ao planeado?</p>
<p><%= @task_report.delays %></p>

<% if policy(@task_report).edit? %>
    <%= link_to 'Edit', edit_task_report_path(@task_report) %> |
<% end %>

<% if policy(@task_report).destroy? %>
    <%= link_to 'Destroy', @task_report, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<% if policy(@task_report).submit? %>
    <%= link_to 'Submit', submit_task_report_path(@task_report), method: :patch %> |
<% end %>

<% if policy(@task_report).approve? %>
    <%= link_to 'Approve', approve_task_report_path(@task_report), method: :patch %> |
    <%= link_to 'Reject', reject_task_report_path(@task_report), method: :patch %> |
<% end %>

<% if @task_report.user == @current_user %>
    <%= link_to 'Back', task_reports_path %>
<% else %>
    <%= link_to 'Back', task_reports_approvals_path %>
<% end %>
