<nav>
    <ul>
    <li><%= link_to t(:customer), customers_path %></li>
    <li><%= link_to t(:project), projects_path %></li>
    <li><%= link_to t(:subject), subjects_path %></li>
    <li><%= link_to t(:task_type), task_types_path %></li>
    <li><%= link_to t(:task), tasks_path %></li>
    </ul>
</nav>