<nav class="main-nav">
    <ul class="main-nav__actions">
    <li class="main-nav__action"><%= link_to t(:task), tasks_path %></li>
    <li class="main-nav__action"><%= link_to t(:project), projects_path %></li>
    <li class="main-nav__action"><%= link_to t(:subject), subjects_path %></li>
    <li class="main-nav__action"><%= link_to t(:customer), customers_path %></li>
    <li class="main-nav__action"><%= link_to t(:task_type), task_types_path %></li>
    </ul>
</nav>